<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Zone Aggregator</Name><AddInID>{63795c6b-a234-4870-927f-a22cdb225569}</AddInID><Description>Preprocessing for aggregation</Description><Version>0.1</Version><Image /><Author>Srirama Bhamidipati</Author><Company>bhugole</Company><Date>04/26/2019</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Aggregate_addin.py" namespace="Aggregate_addin"><ArcMap>
    <Commands>
        <Button caption="Assign newID " category="Zone Aggregator" class="ButtonClass13" id="Aggregate_addin.button" image="Images\ArcReaderPublish32.png" message="select features before assigning" tip="Assigns new incremented ID"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Renumbering Toolbar" category="Zone Aggregator"
                 id="Aggregate_addin.toolbar" showInitially="true"><Items><Button refID="Aggregate_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>